.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background-color: white;
    flex-direction: column;
    position: relative;
  }
  
  .background {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
  }
  
  .blue-rectangle {
    background-color: #9ACFFF;
    width: 100%;
    height: 400px;
    text-align: center;
    padding: 20px;
    margin-top: 630px;
  }
  
  .big-logo {
    max-width: 400px;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .headline {
    font-size: 50px;
    text-align: left;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 150px;
    color: black;
  }

  .headline2 {
    font-size: 50px;
    text-align: left;
    font-weight: bold;
    margin-left: 150px;
    color: black;
  }

  
  .subheadline {
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    color: black;
  }
  
