
/* Style for the outer container */

.All{
    background-color: #F5F7FE;
}

.Container{
  display: flex;
  align-items: middle;
  padding: 20px;
  margin-left: 100px;
}

.Left {
    display: flex;
    flex-direction: column;
    padding: 20px;

  }
  
  /* Style for the rectangles container */
  .Rectangles-container {
    display: flex;
    flex-direction: column; /* Place rectangles in a single column */
    align-items: center; /* Center horizontally */
    justify-content: flex-start;
  }
  
  /* Style for the rectangles */
  .Rectangle1 {
    width: 700px; /* Make the rectangles bigger */
    height: 150px; /* Make the rectangles bigger */
    background-color: #3498db;
  }

  .Rectangle2{
    width: 700px; /* Make the rectangles bigger */
    height: 200px; /* Make the rectangles bigger */
    background-color: white;
  }
  
  /* Style for the profile container */
  .Profile-container {
    position: relative;
  }
  .Profile-container img{
    width: 90px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    position: absolute;
    left: 10%;
    transform: translate(-50%, -50%);
  }
  
  
  /* Style for the edit button (within profile-pic) */
  .Edit-button {
    background-color: #0A66C2;
    border-radius: 50px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 21%;
  }
  
  .Right
   {
    max-width: 250px; 
    height: 55vh; 
    background-color: white; 
      flex: 1;
      padding: 20px;

  }

  .Name{
    position: relative;
    top: 29%;
    font-size: 19px;
    left: 3%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

  }

  .Position{
    position: relative;
    top: 31%;
    font-size: 14px;
    font-weight: bold;
    left: 3%;
    font-family: system-ui;
  }

  /* .details{
    position: relative;
    top: 31%;
    font-size: 13px;
    left: 3%;
    font-family: system-ui;
    width: 90%;
  } */

  .Rectangle3{
    margin-top: 30px;
    
    width: 700px; /* Make the rectangles bigger */
    height: 300px; /* Make the rectangles bigger */
    background-color: white;
  }

  .SameRow{
    display: flex;
    justify-content: space-between;
  }

  .Title{
    padding: 15px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
  }


  .Edit-button2{
    background-color: #0A66C2;
    border-radius: 50px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 14%;
    left: 27%;
  }

  .Edit-button3{
    background-color: #0A66C2;
    border-radius: 50px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 13%;
  }

  .Email{
    padding-left: 20px;
    font-weight: 500;
  }

  .Email-address {
    border: 1px solid #000; /* Add a bottom border */
    padding: 10px; /* Add padding at the bottom for spacing */
    margin-left: 20px;
    margin-top: 10px;
    font-size: 12px;
    width: 130px;
    border-radius: 30px;
  }

  .Country{
    padding-top: 10px;
    padding-left: 20px;
    font-weight: 500;
  }

  .Rectangle4{
    margin-top: 30px;   
    width: 700px; 
    height: 100px; 
    background-color: white;

  }

  .Title1{
    font-size: medium;
    font-weight: 550;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
  }

  .Samerow3{
    display: flex;
    padding-left: 5px;
    padding-top: 10px;
    justify-content: space-between;
  }

  .Image{
    margin-right: 15px;
    margin-top: 10px;
  }

  .Image img{
    width: 90px;
    height: 60px;
  }

  .Recommendation{
    padding-top: 15px;
    color:#0A66C2;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
  }

  .Image2{
    margin-right: 15px;
    margin-top: 10px;
  }

  .Image2 img{
    width: 70px;
    height: 60px;
    margin-right: 10px;
  }

  .Image3 img{
    width: 70px;
    height: 65px;
    margin-right: 10px;
  }

  .Image3{
    margin-right: 19px;
  }

  .Person2{
    padding-top: 10px;
    font-weight: 600;
  }

  .Person3{
    margin-right: 50px;
    padding-top: 10px;
    font-weight: 600;
  }

  .Person1{
    font-weight: 600;
    position: relative;
    right: 20%;
    margin-top: 10px;
  }

  .left-section {
    display: flex;
    align-items: center;
  }

  .Company{
    font-size: 18px;
    font-weight: 800;
    position: relative;
    left: 3%;
    top: 31%;
    font-size: 16px;
    font-weight: bold;
    
  }

  .Fill{
    border: 1px solid #000; /* Add a bottom border */
    padding: 10px; /* Add padding at the bottom for spacing */
    margin-left: 130px;
    margin-top: 35px;
    font-size: 12px;
    width: 100px;
    border-radius: 30px;
  }

  .Location{
    font-size: 18px;
    font-weight: 800;
    position: relative;
    top: 10%;
    right: -3%;
    font-size: 16px;
    font-weight: bold;
  }

  .Fill2{
    border: 1px solid #000; /* Add a bottom border */
    padding: 10px; /* Add padding at the bottom for spacing */
    margin-left: 130px;
    margin-top: -5px;
    font-size: 12px;
    width: 100px;
    border-radius: 30px;
  }
  
  