
/* Style for the outer container */

.all{
    background-color: #F5F7FE;
}

.container{
  display: flex;
  align-items: middle;
  padding: 20px;
  margin-left: 100px;
}

.left {
    display: flex;
    flex-direction: column;
    padding: 20px;

  }
  
  /* Style for the rectangles container */
  .rectangles-container {
    display: flex;
    flex-direction: column; /* Place rectangles in a single column */
    align-items: center; /* Center horizontally */
    justify-content: flex-start;
  }
  
  /* Style for the rectangles */
  .rectangle1 {
    width: 700px; /* Make the rectangles bigger */
    height: 150px; /* Make the rectangles bigger */
    background-color: #3498db;
  }

  .rectangle2{
    width: 700px; /* Make the rectangles bigger */
    height: 200px; /* Make the rectangles bigger */
    background-color: white;
  }
  
  /* Style for the profile container */
  .profile-container {
    position: relative;
  }
  .profile-container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    position: absolute;
    left: 13%;
    transform: translate(-50%, -50%);
  }
  
  
  /* Style for the edit button (within profile-pic) */
  .edit-button {
    background-color: #0A66C2;
    border-radius: 50px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 23%;
  }
  
  .right
   {
    max-width: 250px; 
    height: 50vh; 
    background-color: white; 
      flex: 1;
      padding: 20px;

  }

  .Jojo{
    position: relative;
    top: 28%;
    font-size: 19px;
    left: 3%;
    font-family: monospace;

  }

  .position{
    position: relative;
    top: 28%;
    font-size: 14px;
    font-weight: bold;
    left: 3%;
    font-family: system-ui;
  }

  .details{
    position: relative;
    top: 31%;
    font-size: 13px;
    left: 3%;
    font-family: system-ui;
    width: 90%;
  }

  .rectangle3{
    margin-top: 30px;
    
    width: 700px; /* Make the rectangles bigger */
    height: 300px; /* Make the rectangles bigger */
    background-color: white;
  }

  .sameRow{
    display: flex;
    justify-content: space-between;
  }

  .title{
    padding: 15px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
  }


  .edit-button2{
    background-color: #0A66C2;
    border-radius: 50px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 13%;
    left: 27%;
  }

  .email{
    padding-left: 20px;
    font-weight: 500;
  }

  .email-address {
    border: 1px solid #000; /* Add a bottom border */
    padding: 10px; /* Add padding at the bottom for spacing */
    margin-left: 20px;
    margin-top: 10px;
    font-size: 12px;
    width: 130px;
    border-radius: 30px;
  }

  .country{
    padding-top: 10px;
    padding-left: 20px;
    font-weight: 500;
  }

  .rectangle4{
    margin-top: 30px;   
    width: 700px; 
    height: 200px; 
    background-color: white;

  }

  .work{
    padding-top: 10px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 14px;
  }

  .company{
    padding-top: 5px;
    padding-left: 20px;
    font-weight: 300;
    font-size: 12px;
  }

  .duration{
    padding-top: 5px;
    padding-left: 20px;
    font-weight: 100;
    font-size: 11px;
  }

  .underline{
    border-bottom: 1px solid lightgray;
    padding-top: 8px;
  }

  .edit-button3{
    background-color: #0A66C2;
    border-radius: 50px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: -42%;
    left: 25%;
  }

  .rectangle5{
    margin-top: 30px;   
    width: 700px; 
    height: 200px; 
    background-color: white;

  }

  .edit-button4{
    background-color: #0A66C2;
    border-radius: 50px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: -80%;
    left: 17%;
  }

  .skill{
    padding-top: 5px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
  }

  .rectangle6{
    margin-top: 30px;   
    width: 700px; 
    height: 110px; 
    background-color: white;
  }

  .edit-button5{
    background-color: #0A66C2;
    border-radius: 50px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: -119%;
    left: 20%;
  }
  
  .logo{
    padding-left: 15px;
  }

  .sameRow2{
    display: flex;
    padding-left: 20px;
  }

  .column{
    padding-left: 20px;
  }

  .university{
    font-weight: 600;
  }

  .bachelor{
    font-size: 13px;
    font-weight: 300;
  }

  .title1{
    font-size: medium;
    font-weight: 550;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
  }

  .samerow3{
    display: flex;
    padding-left: 5px;
    padding-top: 10px;
    justify-content: space-between;
  }

  .image{
    margin-right: 15px;
    margin-top: 10px;
  }

  .recommendation{
    padding-top: 15px;
    color:#0A66C2;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
  }

  .image2 img{
    width: 80px;
    height: 50px;
    margin-right: 10px;
  }

  .image3 img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }

  .Intel{
    padding-top: 10px;
    margin-right: 16px;
  }

  .Dell{
    margin-left: 35px;
    padding-top: 10px;
  }

  