
/* Style for the outer container */

.all{
    background-color: #F5F7FE;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;

  }
  
  /* Style for the rectangles container */
  .rectangles-container {
    display: flex;
    flex-direction: column; /* Place rectangles in a single column */
    align-items: center; /* Center horizontally */
  }
  
  /* Style for the rectangles */
  .rectangle1 {
    width: 700px; /* Make the rectangles bigger */
    height: 150px; /* Make the rectangles bigger */
    background-color: #3498db;
  }

  .rectangle2{
    width: 700px; /* Make the rectangles bigger */
    height: 150px; /* Make the rectangles bigger */
    background-color: white;
  }
  
  /* Style for the profile container */
  .profile-container {
    position: relative;
  }
  
  /* Style for the profile picture */
  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Style for the edit button (within profile-pic) */
  .edit-button {
    background-color: #27ae60;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  